---
import MainLayout from "../layouts/MainLayout.astro";
import boat from "../assets/images/boati.webp"
import { Image } from 'astro:assets';
import boat2 from "../assets/images/GP02IKO.webp"
import boat3 from "../assets/images/GP01A4M.webp"
import boat4 from "../assets/images/GP0ICZ.webp"
import boat5 from "../assets/images/highlandfate.webp"
---

<MainLayout title="Courses">
    <div class="fixed inset-0 z-[-1] bg-[url('/bg_blue.jpg')] bg-repeat bg-center bg-cover">
  </div>
   <div id="grid-bg" class="fixed inset-0 z-[-1] pointer-events-none">
  <img src="/bg_grid.svg" class="w-full h-full object-cover transition-transform duration-75" />
  </div>

<section class="bg-[url('/training_fade.webp')] bg-cover bg-center h-screen 2xl:pt-4xl text-white flex flex-col justify-between">
<h2 class="pt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-focus-in">Specialized <br /><span class="font-regular">Maritime Training</span></h2>
<div class="flex justify-end pr-sm md:pr-m lg:pr-lg pb-sm md:pg-m lg:pb-lg">
    <p class="md:text-right font-black text-bodySm md:text-body px-sm md:px-m lg:px-lg text-focus-in delayed">For professionals who demand precision, speed, <br>and operational readiness.</p>
</div>    
</section>
<section class="flex justify-center text-white pt-sm md:pt-m lg:pt-lg">
    <p class="text-center font-black text-bodySm md:text-body w-8xl md:w-[710px] fadein">Exceptive offers hands-on, real-world maritime training designed for individuals and teams operating in demanding conditions. Our courses are tailored to enhance navigation, tactical decision-making, and vessel handling at high speed. </p>
</section>

<section class=" text-white pb-sm md:pb-m lg:pb-lg">
    <div class="px-sm md:px-m lg:px-lg">
<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl ">
        <div class="a lg:order-2   md:pb-0 ">
            <div class="md:px-m lg:px-lg fadein">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 ">Non-Standard<br /><span class="font-regular">Maritime Operations</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body sm:w-auto 2xl:w-[710px] ">Learn how to understand, approach, and adapt to civilian boating behavior. Includes vessel recognition, improvisational skills, and situational awareness—such as how to secure or “steal” a boat when needed for operations.</p>
        </div>
    </div>
     <Image src={boat} class="flex flex-center md:p-s lg:p-0 object-cover rounded-9" alt="non standard maritime operations"/>
</div>


<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class=" md:pb-0">
            <div class="md:pr-m lg:pr-lg fadein">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body sm:w-auto 2xl:w-[710px]">Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
    <Image src={boat2} class="flex flex-center md:p-s lg:p-0 object-cover rounded-9" alt="Assault navigation"/>
</div>

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="a lg:order-2   md:pb-0 ">
            <div class="md:px-m lg:px-lg fadein">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Search<br /><span class="font-regular">and Rescue</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body sm:w-auto 2xl:w-[710px]">Tactical and technical SAR training, with a focus on coordination, communication, and life-saving procedures at sea.</p>
        </div>

    </div>
     <Image src={boat3} class="flex flex-center md:p-s lg:p-0 object-cover rounded-9" alt="Search and rescue"/>
</div>


<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="a md:pb-0">
            <div class="md:pr-m lg:pr-lg fadein">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">High-Speed<br /><span class="font-regular">Navigation</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body sm:w-auto 2xl:w-[710px]">Develop driving skills in rough seas, at night, or under pressure. Focused on safety, precision, and full control at high speeds.</p>
    </div>

</div>
    <Image src={boat4} class="flex flex-center md:p-s lg:p-0 object-cover rounded-9" alt="High-speed navigation"/>
</div>

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="a lg:order-2   md:pb-0 ">
            <div class="md:px-m lg:px-lg fadein">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Interception<br /><span class="font-regular">Tactics</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body sm:w-auto 2xl:w-[710px]">rain in close-quarter tactics, interception of vessels, and secure boarding procedures for both law enforcement and special operations.</p>
        </div>

    </div>
     <Image src={boat5} class="flex flex-center md:p-s lg:p-0 object-cover rounded-9" alt="Interception tactics"/>
</div>

</div>
</div>
</section>
</MainLayout>

<script>
  const grid = document.getElementById('grid-bg');
  let targetX = 0;
  let targetY = 0;
  let currentX = 0;
  let currentY = 0;


  document.addEventListener('mousemove', (e) => {
    const ratioX = (e.clientX / window.innerWidth - 0.5);
    const ratioY = (e.clientY / window.innerHeight - 0.5);


    targetX = ratioX * 30; 
    targetY = ratioY * 30;
  });


  function animateGrid() {

    currentX += (targetX - currentX) * 0.08;
    currentY += (targetY - currentY) * 0.08;

    grid.style.transform = `translate(${currentX}px, ${currentY}px)`;

    requestAnimationFrame(animateGrid);
  }

  animateGrid();
</script>


<script>
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".fadein", ({ target }) => {
  animate(
    target,
    { opacity: [0, 1], y: [40, 0] },
    { duration: 1.5 }
  );

  return () => {
    animate(
      target,
      { opacity: 0, y: 40 }
    );
  };
});

</script>